[project]
name = "src"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "colorlog>=6.9.0",
    "fastapi[standard]>=0.115.13",
    "python-dotenv>=1.1.1",
    "supabase>=2.16.0",
]
